<div id="mainFooter">

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-xs-12">

                <div class="row">

                    <div class="col-xs-12">
                        <div class="mainLinks">
                            <ul class="links">
                                <li class="link">
                                    <a href="/"
                                       target="_self"
                                       title="Home">HOME</a>
                                </li>
                                <li class="link">
                                    <a href="<%= getCategoryPathFromCategoryName('politics', allPostCategoriesArray) %>"
                                       target="_self"
                                       title="Politics">Politics</a>
                                </li>
                                <li class="link">
                                    <a href="<%= getCategoryPathFromCategoryName('technology', allPostCategoriesArray) %>"
                                       target="_self"
                                       title="Technology">Technology</a>
                                </li>
                                <li class="link">
                                    <a href="<%= getCategoryPathFromCategoryName('business', allPostCategoriesArray) %>"
                                       target="_self"
                                       title="Business">Business</a>
                                </li>
                                <li class="link">
                                    <a href="<%= getCategoryPathFromCategoryName('markets', allPostCategoriesArray) %>"
                                       target="_self"
                                       title="Marketing">Markets</a>
                                </li>
                                <li class="link">
                                    <a href="<%= getCategoryPathFromCategoryName('entrepreneurship', allPostCategoriesArray) %>"
                                       target="_self"
                                       title="Entrepreneurship">Entrepreneurship</a>
                                </li>
                                <li class="link">
                                    <a href="<%= getCategoryPathFromCategoryName('culture', allPostCategoriesArray) %>"
                                       target="_self"
                                       title="Culture & Life">Culture & Life</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="account">
                            <ul class="links">
                                <li class="link">
                                    <a href="/about"
                                       target="_self"
                                       title="About Us">About Us</a>
                                </li>
                                <% if (theUser) { %>
                                <li class="link">
                                    <a href="<%= getUserPrivateProfileUrl(theUser) %>"
                                       target="_self"
                                       title="My Account">My Account</a>
                                </li>
                                <% } else { %>
                                <li class="link">
                                    <a href="/account/login"
                                       target="_self"
                                       title="Sign In">Sign In</a>
                                </li>
                                <li class="link">
                                    <a href="/account/create"
                                       target="_self"
                                       title="Register">Register</a>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="topics">
                            <ul class="links">
                                <li class="link">
                                    <a href="/topic/world"
                                       target="_self"
                                       rel="nofollow"
                                       title="World News">World</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/africa"
                                       target="_self"
                                       rel="nofollow"
                                       title="Articles related to Africa">Africa</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/success-stories"
                                       target="_self"
                                       rel="nofollow"
                                       title="Success stories">Success stories</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/top-lists"
                                       target="_self"
                                       rel="nofollow"
                                       title="Top lists">Top Lists</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/youth"
                                       target="_self"
                                       rel="nofollow"
                                       title="News related to youth">Youth</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/education"
                                       target="_self"
                                       rel="nofollow"
                                       title="Educational articles">Education</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/scholarships"
                                       target="_self"
                                       rel="nofollow"
                                       title="Educational and scholarship related articles">Scholarships</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/health"
                                       target="_self"
                                       rel="nofollow"
                                       title="Articles related to health issues">Health</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/finance"
                                       target="_self"
                                       rel="nofollow"
                                       title="African Exponent on finance">Finance</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/investing"
                                       target="_self"
                                       rel="nofollow"
                                       title="African Exponent on investing">Investing</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/economy"
                                       target="_self"
                                       rel="nofollow"
                                       title="Economy news">Economy</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/entertainment"
                                       target="_self"
                                       rel="nofollow"
                                       title="Entertainement news">Entertainment</a>
                                </li>
                                <li class="link">
                                    <a href="/topic/tourism"
                                       target="_self"
                                       rel="nofollow"
                                       title="Tourism">Tourism</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-md-4 col-xs-12">
                <div class="connect">
                    <h6>SUBSCRIBE</h6>
                    <ul class="social">
                        <li class="link">
                            <a href="https://www.facebook.com/theafricanexponent"
                               target="_self"
                               title="Facebook Page"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="link">
                            <a href="https://twitter.com/africanexponent"
                               target="_self"
                               title="Twitter Profile"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="link">
                            <a href="https://www.linkedin.com/company/the-african-exponent"
                               target="_self"
                               title="LinkedIn Profile"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="link">
                            <a href="https://google.com/+Africanexponentinc"
                               target="_self"
                               title="Google Plus Page"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="details">
                    <p>Copyright &copy; 2015 The African Exponent, Inc. All rights reserved.</p>

                    <p>africanexponent.com is part of the African Exponent Group</p>
                </div>
            </div>


        </div>

    </div>

</div>