<div class="state-navigation"
     role="navigation">

    <ul class="mini-menu">
        <li>
            <a class="menu-icon"
               title="Home"
               ui-sref="home">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a class="menu-icon"
               ui-sref="home.priceEstimator"
               title="Check current Uber Prices">
                <i class="fa fa-money"></i>
            </a>
        </li>
        <li>
            <a class="menu-icon"
               ui-sref="home.requestUber"
               title="Request an Uber">
                <i class="fa fa-car"></i>
            </a>
        </li>
        <li>
            <a class="menu-icon"
               title="Plan Uber trips">
                <i class="fa fa-pencil"></i>
            </a>
        </li>
        <li>
            <a class="menu-icon"
               title="Access profile">
                <i class="fa fa-user"></i>
            </a>
        </li>
    </ul>

</div>