<nav class="main-navigation mobile visible-sm visible-xs nav navbar-fixed-top"
     role="navigation">

    <div class="nav-header">

        <div class="<%= container_state %> clearfix">

            <div class="row header clearfix">

                <div class="col-xs-5">

                    <div class="logo">
                        <img src="<%= getAssetUrl("/public/imgsmin/logo/axp_tr_white.png") %>"
                             alt="The African Exponent logo">
                    </div>

                    <div class="name">

                        <a href="/"
                           target="_self"
                           title="Home">
                            <h1 class="website-name">
                                African Exponent
                            </h1>
                        </a>

                    </div>

                </div>

                <div class="col-xs-7">
                    <ul class="header-links pull-right">
                        <li class="header-item mobileNavOpener">
                            <a class="menu-icon"><i class="fa fa-bars"></i></a>
                        </li>
                        <li class="header-item">
                            <a class="search-icon"><i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>


            <div class="search"
                 universal-search-box-scope>

                <form action="/search">
                    <input type="text"
                           placeholder="Search"
                           class="search-box"
                           autocomplete="off"
                           name="q">
                    <button class="search-button ng-cloak"
                            type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

            </div>

        </div>
    </div>

</nav>

<% include mobile_sliding_menu.ejs %>