<!DOCTYPE html>
<html lang="en"
      ng-app="app"
      ng-controller="UniversalController">
<head>

    {{> scripts/head}}

    <!--js-->

    <script src="https://maps.google.com/maps/api/js?libraries=places&sensor=true"></script>

    <script type="text/javascript"
            src="{{{getAssetUrl '/public/uberjs/jsfiles.min.js'}}}"></script>

    {{> scripts/app}}

    <link rel="stylesheet"
          href="{{{getAssetUrl '/public/cssmin/core/core.min.css'}}}" />

    {{> scripts/ionic}}

    <title>{{title}}</title>
</head>

<body ng-class="$root.main.classes.body">

<ion-nav-view name="main"></ion-nav-view>

{{> scripts/templates}}

</body>
</html>