<!--user-management view-->
<% if (state == 'manage-users') { %>

<!DOCTYPE html>
<html lang="en"
      ng-app="app"
      ng-controller="UniversalController">
<head>

    <% include ../scripts/head.ejs %>
    <link rel="stylesheet"
          href="<%= getAssetUrl("/public/cssmin/manage_users/manage_users.min.css") %>" />

    <title><%= title %></title>
</head>

<body class="manage_users">
<div id="pageTop"></div>

<div toastr-directive></div>
<div executing-banner></div>

<% var container_state = 'container' %>

<% container_state = 'container-fluid' %>
<% include ../navigation/top_nav.ejs %>

<div class="visible-md visible-lg">
    <div class="container-fluid">
        <% include ../page-widgets/banners/universal_banner.ejs %>
        <% include ../account/account_status.ejs %>
    </div>

    <div class="pageHolder">
        <% include ../manage-users/manage-pre/users.ejs %>
    </div>

</div>

<div class="container visible-xs visible-sm">
    <div class="card">
        <div class="card-content">
            <p>This page is not optimized for this screen size.</p>
        </div>
    </div>
</div>

<% include ../navigation/mainFooter.ejs %>

<!-- JAVASCRIPT -->

<% include ../scripts/bottom-core-concat.ejs %>
<% include ../scripts/bottom-extra.ejs %>

<script type="text/javascript"
        src=<%= getAssetUrl("/public/angular_assets/manage_users_min/app.min.js") %>></script>

</body>
</html>

<% } %>