<% if (state == 'search') { %>

<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../scripts/meta-in-head.ejs %>
    <% include ../scripts/head.ejs %>
    <link rel="stylesheet"
          href="<%= getAssetUrl("/public/cssmin/search/search.min.css") %>" />

    <title><%= title %></title>
</head>

<body class="searchPage">
<div id="pageTop"></div>
<% include ../scripts/meta-in-body.ejs %>

<% var container_state = 'container' %>

<% container_state = 'container' %>
<% include ../navigation/top_nav.ejs %>

<div class="pageHolder">
    <% include ../search/search.ejs %>
</div>

<!-- JAVASCRIPT -->
<% include ../scripts/bottom-script.ejs %>

<script async
        type="text/javascript"
        src=<%= getAssetUrl("/public/js_files/search.min.js") %>></script>

</body>
</html>

<% } %>