<% if (state == 'user-private-profile') { %>

<!DOCTYPE html>
<html lang="en"
      ng-app="app"
      ng-controller="UniversalController">
<head>
    <% include ../scripts/meta-in-head.ejs %>
    <% include ../scripts/head.ejs %>

    <link rel="stylesheet"
          href="<%= getAssetUrl("/public/cssmin/user_private_profile/user_private_profile.min.css") %>" />

    <title><%= title %></title>
</head>
<body class="user-private-profile">
<% include ../scripts/meta-in-body.ejs %>
<div id="pageTop"></div>

<div toastr-directive></div>
<div executing-banner></div>

<% var container_state = 'container' %>
<% container_state = 'container' %>

<% include ../navigation/top_nav.ejs %>

<div class="pageHolder">
    <% include ../user_private_profile/user-private-profile.ejs %>
</div>

<% include ../navigation/mainFooter.ejs %>

<!-- JAVASCRIPT -->

<% include ../scripts/bottom-core-concat.ejs %>
<% include ../scripts/bottom-extra.ejs %>

<script type="text/javascript"
        src=<%= getAssetUrl("/public/angular_assets/user_private_profile_min/app.min.js") %>></script>

<script>
    //remove viewport for this page
    $(document).ready(function () {
        //select all links with no target and apply target _self to them
        $('#theViewPort').remove();
    });
</script>

</body>
</html>

<% } %>