<script
        type="text/ng-template"
        id="_sign_in.html">

    <ion-header-bar align-title="left"
                    class="bar-stable">

        <h1 class="title">UberLAN</h1>

        <div class="buttons">
            <a class="button"
               ui-sref="index">Home</a>
        </div>

    </ion-header-bar>

    <ion-content
            padding="true"
            has-bouncing="true">

        <div ng-controller="signInController">

            <div class="row">
                <img class="logo-image"
                     src="public/uber_assets/UBER%20BADGE/Source%20Files/UBER_API_Badge.svg" />
            </div>

            <div sign-in-scope>

                <form name="localLoginForm">

                    <div class="list">

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Username</span>
                            <input type="text"
                                   class="form-control input-lg"
                                   id="username"
                                   placeholder="Username"
                                   ng-model="loginFormModel.username"
                                   ng-minlength="4"
                                   ng-maxlength="10"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required
                                   name="username">

                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.username.$error.required"
                                  ng-if='localLoginForm.username.$dirty'>
                                <small>This is a required field:</small>
                            </span>
                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.username.$error.minlength"
                                  ng-if='localLoginForm.username.$dirty'>
                                <small>Minimum length required is 4:</small>
                            </span>
                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.username.$error.maxlength"
                                  ng-if='localLoginForm.username.$dirty'>
                                <small>Maximum length required is 10:</small>
                            </span>
                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.username.$error.pattern"
                                  ng-if='localLoginForm.username.$dirty'>
                                <small>Only letters, numbers and underscores are allowed:</small>
                            </span>

                        </label>

                        <label class="item item-input item-stacked-label">

                            <span class="input-label">Password</span>
                            <input type="password"
                                   name="password"
                                   class="form-control input-lg"
                                   id="password"
                                   placeholder="Password"
                                   ng-model="loginFormModel.password"
                                   ng-minlength="4"
                                   ng-maxlength="20"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required>

                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.password.$error.required"
                                  ng-if='localLoginForm.password.$dirty'>
                                <small>This is a required field:</small>
                            </span>
                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.password.$error.minlength"
                                  ng-if='localLoginForm.password.$dirty'>
                                <small>Minimum length required is 4:</small>
                            </span>
                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.password.$error.maxlength"
                                  ng-if='localLoginForm.password.$dirty'>
                                <small>Maximum length required is 20:</small>
                            </span>
                            <span class="form-error-notice ng-cloak"
                                  ng-show="localLoginForm.password.$error.pattern"
                                  ng-if='localLoginForm.password.$dirty'>
                                <small>Only letters, numbers and underscores are allowed:</small>
                            </span>
                        </label>

                        <button class="button button-block button-stable"
                                ng-disabled="localLoginForm.$invalid"
                                ng-click="submitLocalLoginForm()">
                            Sign In
                        </button>

                        <p>Or you can create a new account</p>

                        <button class="button button-block button-stable"
                                ng-click="$state.go('register')">
                            Register
                        </button>

                    </div>

                </form>

            </div>

        </div>

    </ion-content>

    <ion-footer-bar align-title="left"
                    class="bar-stable">

        <div class="tabs"
             ng-if="!$root.main.userData">
            <a class="tab-item"
               ui-sref="index">
                Home
            </a>
            <a class="tab-item"
               ui-sref="login">
                Sign In
            </a>
            <a class="tab-item"
               ui-sref="register">
                Register
            </a>
        </div>

    </ion-footer-bar>

</script>