<script
        type="text/ng-template"
        id="_sign_in.html">

    <div class="container"
         ng-controller="signInController">

        <div class="big-logo">
            <div class="logo-image"></div>
        </div>

        <hr>

        <div sign-in-banner-scope>
            <div ng-class="signInBanner.bannerClass"
                 ng-if="signInBanner.show">
                <strong ng-bind="signInBanner.msg"></strong>
            </div>
        </div>


        <div class="row">

            <div class="col-xs-12">
                <div class="login">

                    <div sign-in-scope>


                        <fieldset ng-disabled="signInMain.isBusy">

                            <form name="localLoginForm">

                                <!--Username field-->
                                <div class="form-group">
                                    <label for="username">Username</label>

                                    <div class="input-group">

                                        <div class="input-group-addon"><i class="fa fa-user fa-lg"></i></div>

                                        <input type="text"
                                               class="form-control input-lg"
                                               id="username"
                                               placeholder="Username"
                                               ng-model="loginFormModel.username"
                                               ng-minlength="4"
                                               ng-maxlength="10"
                                               ng-pattern="/^[a-zA-Z0-9_]*$/"
                                               required
                                               ng-disabled="$root.universalDisable"
                                               name="username">

                                    </div>

                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.username.$error.required"
                                          ng-if='localLoginForm.username.$dirty'>
                                        <small>This is a required field:</small>
                                    </span>
                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.username.$error.minlength"
                                          ng-if='localLoginForm.username.$dirty'>
                                        <small>Minimum length required is 4:</small>
                                    </span>
                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.username.$error.maxlength"
                                          ng-if='localLoginForm.username.$dirty'>
                                        <small>Maximum length required is 10:</small>
                                    </span>
                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.username.$error.pattern"
                                          ng-if='localLoginForm.username.$dirty'>
                                        <small>Only letters, numbers and underscores are allowed:</small>
                                    </span>
                                </div>

                                <!--password field-->
                                <div class="form-group">
                                    <label for="password">Password</label>

                                    <div class="input-group">

                                        <div class="input-group-addon"><i class="fa fa-lock fa-lg"></i></div>

                                        <input type="password"
                                               name="password"
                                               class="form-control input-lg"
                                               id="password"
                                               placeholder="Password"
                                               ng-model="loginFormModel.password"
                                               ng-minlength="4"
                                               ng-maxlength="20"
                                               ng-pattern="/^[a-zA-Z0-9_]*$/"
                                               required
                                               ng-disabled="$root.universalDisable">

                                    </div>

                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.password.$error.required"
                                          ng-if='localLoginForm.password.$dirty'>
                                        <small>This is a required field:</small>
                                    </span>
                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.password.$error.minlength"
                                          ng-if='localLoginForm.password.$dirty'>
                                        <small>Minimum length required is 4:</small>
                                    </span>
                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.password.$error.maxlength"
                                          ng-if='localLoginForm.password.$dirty'>
                                        <small>Maximum length required is 20:</small>
                                    </span>
                                    <span class="form-error-notice ng-cloak"
                                          ng-show="localLoginForm.password.$error.pattern"
                                          ng-if='localLoginForm.password.$dirty'>
                                        <small>Only letters, numbers and underscores are allowed:</small>
                                    </span>

                                </div>

                                <div class="form-group">

                                    <button class="btn btn-default btn-lg btn-block"
                                            ng-disabled="localLoginForm.$invalid"
                                            ng-click="submitLocalLoginForm()">SIGN IN
                                    </button>

                                </div>

                                <div class="text-center"><p class="info text-center">Don't have an account yet?</p>

                                    <a ui-sref="register"
                                       target="_self"
                                       class="btn-custom-1-lg center-element"
                                       title="Register">Register</a>

                                </div>

                            </form>

                        </fieldset>
                    </div>
                </div>
            </div>

        </div>

    </div>

</script>