//html {
//    //background image
//    background-image: url(/public/imgsmin/cover/car_sunset.jpeg);
//    background-repeat: no-repeat;
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
//}

body.index {

    //background image
    background-image: url(/public/imgsmin/cover/car_sunset.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Gill Sans MT', 'Gill Sans', arial, helvetica, sans-serif;

    .container {
        position: relative;
    }

    .header {
        margin-bottom: 1.5em;
        padding-bottom: 20px;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .logo-image {
            width: 200px;
            height: 200px;
            margin: 0 auto 2.5em auto;
            background-image: url(/public/imgsmin/logo/axp-transparent-logo-480.gif);
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;

            @media (max-width: $screen-xs-max) {
                width: 100px;
                height: 100px;
                margin: 15px auto;
                background-image: url(/public/imgsmin/logo/axp-transparent-logo-480.gif);
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }

        .lead-heading {
            font-size: 5.6em;
            color: $crimson-darkened;
            text-shadow: 1px 1px 0 #000;
            @media (max-width: $screen-xs-max) {
                text-shadow: none; //doesn't look great on mobile
            }
            margin: auto;
            margin-bottom: 0.1em;
            text-align: center;

            @media (max-width: $screen-xs-max) {
                font-size: 20px;
            }
        }

        .lead-subheading {
            font-size: 1.9em;
            text-shadow: 1px 1px 0 #000;
            @media (max-width: $screen-xs-max) {
                text-shadow: none; //doesn't look great on mobile
            }
            margin-bottom: 1em;
            text-align: center;

            @media (max-width: $screen-xs-max) {
                font-size: 16px;
            }
        }
    }

    p {
        line-height: 1.2em;
        margin-bottom: 10px;

        @media (max-width: $screen-xs-max) {
            font-size: 12px;
        }
    }

    .info-section {
        padding: 30px 0;
        margin-bottom: 25px;

        @media (max-width: $screen-xs-max) {
            padding-top: 0;
        }

        .heading {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 2.8em;
            letter-spacing: 2px;
            margin-bottom: 0.6em;
            color: $cyellow;
            font-family: 'Gill Sans MT', 'Gill Sans', arial, helvetica, sans-serif;

            @media (max-width: $screen-xs-max) {
                font-size: 16px;
            }
        }

        .summary {
            font-size: 1.7em;
            font-family: 'Gill Sans MT', 'Gill Sans', arial, helvetica, sans-serif;

            @media (max-width: $screen-xs-max) {
                font-size: 14px;
            }
        }

        .info {
            font-size: 1.785em;
            font-family: 'Gill Sans MT', 'Gill Sans', arial, helvetica, sans-serif;

            @media (max-width: $screen-xs-max) {
                font-size: 12px;
            }
        }
    }

    .form-error-notice {
        color: $cyellow;
    }

    .navbar-fixed-bottom {
        background: transparent;
    }

    .social-media {
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;

        ul {
            @include link-inline-block();
            @include no-list-style();

            li {
                @include link-inline-block();
                float: left;
                padding: 0;
                margin-right: 10px;
                overflow: hidden;

                &.gplus1 {
                    max-width: 60px;
                }
            }
        }
    }
}