.btn-custom-1 {
    margin: 20px;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid $uberPurpleMain;
    color: $uberPurpleMain;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 14px;
    text-shadow: 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

    &:hover {
        color: white;
        background: $uberPurpleMain;
        text-decoration: none !important;
    }

    &:active {
        letter-spacing: 2px;
    }
}

.btn-custom-1-lg {
    margin: 20px 10px;
    display: block;
    outline: none;
    height: 40px;
    text-align: center;
    width: 180px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid $uberPurpleMain;
    color: $uberPurpleMain;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 14px;
    text-shadow: 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

    &:hover {
        color: white;
        background: $uberPurpleMain;
        text-decoration: none !important;
    }

    &:active {
        letter-spacing: 2px;
    }
}

.btn-custom-1-xl {
    margin: 10px 10px;
    display: block;
    outline: none;
    height: 50px;
    text-align: center;
    width: 240px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid $uberPurpleMain;
    color: $uberPurpleMain;
    letter-spacing: 1px;
    line-height: 45px;
    font-size: 14px;
    text-shadow: 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

    &:hover {
        color: white;
        background: $uberPurpleMain;
        text-decoration: none !important;
    }

    &:active {
        letter-spacing: 2px;
    }
}

.btnUber {
    margin: 10px 10px;
    display: block;
    outline: none;
    height: 50px;
    text-align: center;
    width: 240px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid $uberPurpleMain;
    color: $uberPurpleMain;
    letter-spacing: 1px;
    line-height: 45px;
    font-size: 14px;
    text-shadow: 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

    &:hover {
        color: white;
        background: $uberPurpleMain;
        text-decoration: none !important;
    }

    &:active {
        letter-spacing: 2px;
    }
}