.homepage {
    .overView {

        font-family: $fontMavenPro;

        .welcome {
            h1 {
                font-size: 40px;
                font-weight: 600;
                padding: 0;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            p {
                font-size: 23px;
                font-weight: 600;
                padding: 0;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        ul.services {
            @include no-list-style();

            padding: 0;
            margin-top: 15px;
            margin-bottom: 15px;

            li.service {
                width: 100%;
                background-color: rgb(245, 245, 245);
                margin-top: 15px;
                margin-bottom: 15px;

                a {
                    display: block;
                    padding-left: 30px;
                    font-size: 25px;
                    color: $uberPurpleMain;
                    padding-top: 20px;
                    padding-bottom: 20px;

                    @include fadeBackground();

                    &:hover {
                        text-decoration: none;
                        color: white;
                        background-color: $uberBluer;
                    }
                }
            }
        }
    }
}
