$cyellow: #fed136;
$crimson-main: rgba(167, 5, 0, 1);
$crimson-darkened: rgb(110, 0, 0);
$crimson-red: rgb(150, 0, 0);
$cgrey: #999;
$bbcgrey: #e7e8e1;
$lightGrey: #f1f1f1;
$cgreen: #2ebd59;
$lighterBlack: rgb(36, 36, 36);
$textLightBlack: #4c4c4c;
$bodyPaddingTopDesktop: 103px;
$bodyPaddingTopMobile: 60px;
$uberPurpleMain: #09091A;
$uberBluer: #1fbad6;
$fontGill: 'Gill Sans MT', 'Gill Sans', arial, helvetica, sans-serif;
$fontMavenPro: 'Maven Pro', sans-serif;