<div class="ngdialog-message">
    <h5>Are you sure you want to delete the selected user?</h5>

    <p>This action is irreversible</p>
</div>
<div class="ngdialog-buttons">
    <button type="button"
            class="ngdialog-button ngdialog-button-primary"
            ng-click="confirm()">Confirm
    </button>
    <button type="button"
            class="ngdialog-button ngdialog-button-secondary"
            ng-click="closeThisDialog()">
        Cancel
    </button>
</div>