
<div class="ngdialog-message">
    <h5>You don't have the permissions to access this page or feature</h5>
</div>

<% include ../account/account_status.ejs %>

<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">
        Close
    </button>
</div>