body.account-crud {

    font-family: 'Gill Sans MT', 'Gill Sans', arial, helvetica, sans-serif;

    .logo-image {
        width: 80px;
        height: 80px;
        margin: 15px auto;
        padding: 0;
    }

    .benefit {
        h2 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        p {
            line-height: 1.3em;
            margin-bottom: 1.3em;
        }
    }

    p {
        line-height: 1.3em;
        margin-bottom: 0.8em;
    }
}