<script
        type="text/ng-template"
        id="_homepage.html">

    <div class="container-fluid main"
         ng-controller="homeCoreController">

        <div class="col-md-3 leftCol clearfix">

            <div ui-view="controllerCol"></div>

        </div>

        <div class="col-md-9 mapCol clearfix">

            <div ui-view="map"></div>

        </div>


    </div>

</script>