body.index {

    font-family: 'Gill Sans MT', 'Gill Sans', arial, helvetica, sans-serif;

    .header {
        text-align: center;

        .logo-image {
            width: 200px;
            height: 200px;
            margin: 0 auto 2.5em auto;
            background-image: url(/public/imgsmin/logo/axp-transparent-logo-480.gif);
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
        }

        .lead-heading {
            font-size: 20px;
            color: $crimson-darkened;
            margin: auto;
            margin-bottom: 0.1em;
            text-align: center;
        }

        .lead-subheading {
            font-size: 16px;

            margin-bottom: 1em;
            text-align: center;
        }
    }

    .form-error-notice {
        color: $cyellow;
    }
}