<script
        type="text/ng-template"
        id="_location_search_box.html">

    <div class="location_search_box clearfix">

        <input type="text"
               class="geoField"
               name="loc"
               id="loc"
               value=""
               required="required">

        <div class="details clearfix">
            <input name="lat"
                   type=hidden
                   value=""
                   class="lat">
            <input name="lng"
                   type=hidden
                   value=""
                   class="lng">
            <input name="formatted_address"
                   type=hidden
                   value=""
                   class="formatted_address">
        </div>

    </div>

</script>