<script
        type="text/ng-template"
        id="_main_map.html">

    <div ng-controller="mainMapController">
        <div id="map"
             style="height: 900px;"></div>
    </div>

</script>