<script type="text/ng-template"
        id="_price_estimates.html">

    <ion-header-bar align-title="left"
                    class="bar-stable">

        <h1 class="title">UberLAN - Check Prices</h1>

        <div class="buttons">
            <a class="button"
               ui-sref="home">Home</a>
        </div>

    </ion-header-bar>

    <ion-content
            has-bouncing="true">

        <div price-estimator>

            <ion-slide-box show-pager="false"
                           auto-play="false">

                <ion-slide>

                    <div class="list slide_navigator">

                        <a class="item item-icon-right"
                           ng-click="goToSlide(1)">
                            Set/Edit pickup location
                            <i class="icon ion-chevron-right"></i>
                        </a>

                    </div>

                    <div ng-controller="mapController"
                         id="map">
                    </div>

                </ion-slide>

                <ion-slide>

                    <div class="list slide_navigator">

                        <a class="item item-icon-left"
                           ng-click="goToSlide(0)">
                            <i class="icon ion-chevron-left"></i>
                            Back
                        </a>

                    </div>

                    <div class="list form">
                        <div location-search-box
                             location-update="updateStartLocation(lat, lng, formatted_address)">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Pickup Location</span>

                                <input type="text"
                                       class="geoField"
                                       name="loc"
                                       id="loc"
                                       value=""
                                       required="required">

                                <div class="details">
                                    <input name="lat"
                                           type=hidden
                                           value=""
                                           class="lat">
                                    <input name="lng"
                                           type=hidden
                                           value=""
                                           class="lng">
                                    <input name="formatted_address"
                                           type=hidden
                                           value=""
                                           class="formatted_address">
                                </div>
                            </label>
                        </div>

                        <div location-search-box
                             location-update="updateEndLocation(lat, lng, formatted_address)">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Last Name</span>

                                <input type="text"
                                       class="geoField"
                                       name="loc"
                                       id="loc"
                                       value=""
                                       required="required">

                                <div class="details">
                                    <input name="lat"
                                           type=hidden
                                           value=""
                                           class="lat">
                                    <input name="lng"
                                           type=hidden
                                           value=""
                                           class="lng">
                                    <input name="formatted_address"
                                           type=hidden
                                           value=""
                                           class="formatted_address">
                                </div>

                            </label>
                        </div>

                        <button class="button button-block button-stable"
                                ng-click="priceEstimator.getPriceEstimates()">
                            Calculate
                        </button>

                    </div>


                </ion-slide>

            </ion-slide-box>

        </div>

    </ion-content>


    <div class="results"
         ng-show="priceEstimatorCtrlMain.showEstimates">

        <div class="list slide_navigator">

            <a class="item item-icon-right"
               ng-click="priceEstimatorCtrlMain.showEstimates = false">
                <i class="icon ion-chevron-down"></i>
            </a>

        </div>

        <ion-list>

            <ion-item ng-repeat="obj in priceEstimatorCtrlMain.priceEstimateArray">

                <div class="list">

                    <div class="item item-divider">
                        {[{obj.localized_display_name}]}
                    </div>

                    <div class="item item-icon-left">
                        <i class="icon ion-arrow-graph-up-right"></i>
                        Surge
                        <span class="badge badge-assertive">x{[{obj.surge_multiplier}]}</span>
                    </div>

                    <div class="item item-icon-left">
                        <i class="icon ion-cash"></i>
                        Cost
                        <span class="badge badge-stable">{[{obj.estimate}]}</span>
                    </div>

                    <div class="item item-icon-left">
                        <i class="icon ion-model-s"></i>
                        Distance
                        <span class="item-note">
                            {[{obj.distance}]}
                        </span>
                    </div>

                    <div class="item item-icon-left">
                        <i class="icon ion-ios-clock"></i>
                        ETA
                        <span class="item-note">
                            {[{Math.ceil(obj.duration/60)}]}
                        </span>
                    </div>

                </div>

            </ion-item>

        </ion-list>
    </div>


    <ion-footer-bar align-title="left"
                    class="bar-stable">

        <div class="tabs">
            <a class="tab-item"
               ui-sref="requestUber">
                Request Uber
            </a>
            <a class="tab-item"
               ui-sref="priceEstimator">
                Check Price
            </a>
            <a class="tab-item"
               ng-if="!priceEstimatorCtrlMain.showEstimates"
               ng-click="priceEstimatorCtrlMain.showEstimates = true">
                Open Estimates
            </a>
            <a class="tab-item"
               ng-if="priceEstimatorCtrlMain.showEstimates"
               ng-click="priceEstimatorCtrlMain.showEstimates = false">
                Hide Estimates
            </a>
        </div>

    </ion-footer-bar>

</script>