<script
        type="text/ng-template"
        id="_request_uber.html">

    <div class="requestUber ng-cloak"
         ng-controller="requestUberController"
         ng-if="$root.main.userData && $root.main.userData.uber.access_token != ''">

        <div class="header">
            <h1>Request Uber</h1>

            <p>Let's get you a ride</p>
        </div>

        <hr>

        <div request-uber-directive>
            <div class="form1">

                <fieldset ng-disabled="requestUberMain.isBusy">
                    <form>

                        <div class="start clearfix">

                            <label for="start">Pickup location</label>

                            <div location-search-box
                                 location-update="updateStartLocation(lat, lng, formatted_address)"></div>

                        </div>


                        <div class="end clearfix">

                            <label for="end">Destination</label>

                            <div location-search-box
                                 location-update="updateEndLocation(lat, lng, formatted_address)"></div>

                        </div>


                        <p>Type</p>

                        <ul class="products">
                            <li ng-repeat="product in requestUberControllerMain.products"
                                ng-click="requestUberMain.changeProductId(product.product_id, product.display_name)"
                                ng-class="{'selected': requestUberMain.product_id == product.product_id}">
                                <a>
                                    {[{product.display_name}]}
                                </a>
                            </li>
                        </ul>

                        <div class="selectedProductCard">

                            <div class="card"
                                 ng-show="requestUberMain.selectedProductPriceEstimate.estimate">

                                <div class="localized_display_name clearfix">
                                    {[{requestUberMain.selectedProductPriceEstimate.localized_display_name}]}
                                    <span class="price pull-right">
                                        {[{requestUberMain.selectedProductPriceEstimate.estimate}]}
                                    </span>
                                </div>

                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="field">Surge Multiplier</td>
                                        <td class="val">
                                            x{[{requestUberMain.selectedProductPriceEstimate.surge_multiplier}]}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Distance</td>
                                        <td class="val">{[{requestUberMain.selectedProductPriceEstimate.distance}]}</td>
                                    </tr>
                                    <tr>
                                        <td class="field">Duration</td>
                                        <td class="val">{[{requestUberMain.selectedProductPriceEstimate.duration}]}</td>
                                    </tr>
                                    <tr>
                                        <td class="field">Capacity</td>
                                        <td class="val">{[{requestUberMain.selectedProduct.capacity}]}</td>
                                    </tr>
                                    <tr ng-show="requestUberMain.selectedProduct.estimate">
                                        <td class="field">ETA Pickup</td>
                                        <td class="val">{[{requestUberMain.selectedProduct.estimate}]} mins</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>


                        <button type="submit"
                                class="btnUber center-element"
                                ng-click="requestUberMain.requestUber()">REQUEST
                        </button>

                    </form>
                </fieldset>

                <div ng-if="requestUberMain.isBusy">

                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>

                    <div class="status">
                        <p ng-bind="requestUberMain.status"></p>
                    </div>

                </div>

            </div>
        </div>

    </div>

</script>