<script
        type="text/ng-template"
        id="_ride_status.html">

    <div class="rideStatus ng-cloak"
         ng-if="$root.main.userData && $root.main.userData.uber.access_token != ''">

        <div class="header">
            <h1>Ride status</h1>

            <p>View your recent ride stats</p>
        </div>

        <hr>

        <div class="ride_details"
             ng-show="uberRideStatusMain.rideStatus"
             uber-ride-status-directive>

            <div class="status clearfix">
                {[{$root.main.uberRideRequestStatuses[uberRideStatusMain.rideStatus.status]}]}
            </div>

            <table>
                <tbody>
                <tr>
                    <td class="field">ETA</td>
                    <td class="val">{[{uberRideStatusMain.rideStatus.eta}]} min(s)</td>
                </tr>
                <tr>
                    <td class="field">Surge Multiplier</td>
                    <td class="val">x{[{uberRideStatusMain.rideStatus.surge_multiplier}]}</td>
                </tr>
                </tbody>
            </table>

            <div class="driver_profile clearfix"
                 ng-if="uberRideStatusMain.rideStatus.driver">

                <h1 class="heading">Driver profile</h1>

                <img ng-src="{[{uberRideStatusMain.rideStatus.driver.picture_url}]}">

                <div class="driver_info">
                    <ul>
                        <li>
                            <p>{[{uberRideStatusMain.rideStatus.driver.name}]}</p>
                        </li>
                        <li>
                            <i class="fa fa-star"
                               ng-repeat="i in uberRideStatusMain.rideStatus.driver.ratingArray track by $index"></i>
                        </li>
                        <li>
                            <p>{[{uberRideStatusMain.rideStatus.driver.phone_number}]}</p>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="vehicle_profile clearfix"
                 ng-if="uberRideStatusMain.rideStatus.vehicle">

                <h1 class="heading">Vehicle</h1>

                <img ng-src="{[{uberRideStatusMain.rideStatus.vehicle.picture_url}]}">

                <div class="vehicle_info">
                    <ul>
                        <li>
                            <p>Make: {[{uberRideStatusMain.rideStatus.vehicle.make}]}</p>
                        </li>
                        <li>
                            <p>Model: {[{uberRideStatusMain.rideStatus.vehicle.model}]}</p>
                        </li>
                        <li>
                            <p>License plate: {[{uberRideStatusMain.rideStatus.vehicle.license_plate}]}</p>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="alert alert-info"
             role="alert"
             ng-if="!uberRideStatusMain.rideStatus">
            Your active requests will appear here as soon as they are processed.
        </div>

    </div>

</script>