<script
        type="text/ng-template"
        id="_welcome.html">

    <ion-header-bar align-title="left"
                    class="bar-stable">

        <h1 class="title">UberLAN - Welcome</h1>

        <div class="buttons"
             logout-scope>
            <button class="button"
                    ng-click="logout()">Logout
            </button>
        </div>

    </ion-header-bar>

    <ion-content
            has-bouncing="true">

        <div class="list ng-cloak"
             ng-if="$root.main.userData && $root.main.userData.uber.access_token != ''">

            <a class="item item-icon-left"
               ui-sref="requestUber">
                <i class="icon ion-ios-navigate"></i>
                Request Uber
            </a>

            <a class="item item-icon-left"
               ui-sref="priceEstimator">
                <i class="icon ion-cash"></i>
                Check prices
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-time"></i>
                Plan trip
            </a>

            <a class="item item-icon-left"
               ui-sref="rideStatus">
                <i class="icon ion-person-stalker"></i>
                Your uber rides
                <span class="badge badge-assertive">0</span>
            </a>

        </div>

    </ion-content>


    <ion-footer-bar align-title="left"
                    class="bar-stable">

        <div class="tabs">
            <a class="tab-item"
               ui-sref="requestUber">
                Request Uber
            </a>
            <a class="tab-item"
               ui-sref="priceEstimator">
                Check Price
            </a>
            <a class="tab-item">
                Settings
            </a>
        </div>

    </ion-footer-bar>


</script>